# MkDocs
/site/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
MANIFEST

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Ferramentas de desenvolvimento
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Editores e sistemas operacionais
.idea/
.vscode/
.DS_Store
*.swp
*.swo
